<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data</title>
    <link rel="stylesheet" href="/scss/custom.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <style>
      th {
        
        text-align: left;
        justify-content: flex-end;
      }
      
      .main {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          padding-left: 2rem;
      }

      form {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 1rem;
      }

      /* Optional: Add some margin to the dropdown for better spacing */
      #dropdown {
          margin-right: 1rem;
      }
  </style>
  </head>
  <body>
   
    <!-- Navigation Bar-->
     <nav class="navbar navbar-expand-lg">
      <div style="padding-left: 1rem">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="navbar-brand mx-auto">
        <img src="/logo.png" alt="Brand Logo" style="max-height: 30px" />
      </div>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" style="padding-left: 1rem">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/survey">Survey</a>
          </li>
          <% if (user) { if (user.isadmin) { %>
          <li class="nav-item">
            <a class="nav-link" href="/data">See Data</a>
          </li>
          <% } } %>
        </ul>
      </div>

      <% if(user) { %>

      <div class="account-dropdown">
        <button
          class="btn btn-link dropdown-toggle"
          type="button"
          id="accountDropdown"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          My Account
        </button>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" href="/editaccount"
            ><form method="get" action="edit/<%= user.id %>/">
              <button
                style="border: none; background-color: white"
                type="submit"
              >
                Edit Account
              </button>
            </form></a
          >
          <% if (user.isadmin) { %>
          <a class="dropdown-item" href="/users">Edit Users</a>
          <% } %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </div>

      <% } else { %>

      <div class="account-dropdown">
        <button
        class="btn btn-link dropdown-toggle"
        type="button"
        id="accountDropdown"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >
          <a href="/login">Login</a>
        </button>
        <div class="dropdown-menu" aria-labelledby="accountDropdown">
          <a class="dropdown-item" href="/login">Login</a>
          <a class="dropdown-item" href="/register">Register</a>
        </div>
      </div>

      <% } %>
    </nav>
    <!-- Header -->

    <div class="sleek-header">
      <h1>All Records</h1>
    </div>

    <!--Select Data -->

    <div class="main" style="padding-left: 3rem;">
      <form method="post" action="/datum">
        <label for="dropdown">Select a specific survey response: </label>
        <select id="dropdown" name="dropdown">
          <% for(i=0;i<data.length;i++) { %> 
          <option name='dropdown' value="<%= data[i].response_id%>"><%= data[i].response_id%></option>
          <% } %>
          <!-- Add more options as needed -->
        </select>
        <input type="submit" value="See Data" />
      </form>
    </div>

    <!-- See Data -->

    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="thead-light">
          <tr>
            <th>Response ID</th>
            <th>Time Stamp</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Relationship Status</th>
            <th>Occupational Status</th>
            <th>Time Spent</th>
            <th>Non-Purposeful Social Media Usage</th>
            <th>Frequency of Social Media Distractions</th>
            <th>Restlessness Due to Social Media</th>
            <th>Easily Distracted</th>
            <th>Bothered by Worries</th>
            <th>Difficult to Concentrate</th>
            <th>Comparison to Successful People</th>
            <th>Feel About Comparisons</th>
            <th>Seek Validation</th>
            <th>Depressed or Down</th>
            <th>Interest in Daily Activities Fluctuate</th>
            <th>Issues with Sleep</th>
            <th>Location ID</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(item => { %>
          <tr>
            <td><%= item.response_id %></td>
            <td><%= item.time_stamp %></td>
            <td><%= item.age %></td>
            <td><%= item.gender %></td>
            <td><%= item.relationship_status %></td>
            <td><%= item.occupational_status %></td>
            <td><%= item.time_spent %></td>
            <td><%= item.non_purposeful_social_media_usage %></td>
            <td><%= item.frequency_of_social_media_distractions %></td>
            <td><%= item.restlessness_due_to_social_media %></td>
            <td><%= item.easily_distracted %></td>
            <td><%= item.bothered_by_worries %></td>
            <td><%= item.difficult_to_concentrate %></td>
            <td><%= item.comparison_to_successful_people %></td>
            <td><%= item.feel_about_comparisons %></td>
            <td><%= item.seek_validation %></td>
            <td><%= item.depressed_or_down %></td>
            <td><%= item.interest_in_daily_activities_fluctuate %></td>
            <td><%= item.issues_with_sleep %></td>
            <td><%= item.location_id %></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>

    <!-- Footer -->

    <footer class="footer">
      <div class="container">
        <p>&copy; 2023 City of Provo. All Rights Reserved.</p>
      </div>
    </footer>
    
    <!--Scripts for the Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
