<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Account</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <script href="/js/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/survey">Survey</a>
      <a href="/dashboard">Dashboard</a>
      <% if(user) { %>
      <div id="login-link" class="dropdown">
        <button class="dropbtn">Hello, <%= admin.name %></button>
        <div class="dropdown-content">
          <a href="/editaccount"
            ><form method="get" action="/edit/<%= admin.id %>">
              <button
                style="border: none; background-color: white"
                type="submit"
              >
                Edit Account
              </button>
            </form></a
          >
          <% if (admin.isadmin) { %>
          <a href="/users">Edit Users</a>
          <% } %>
          <a href="/logout">Logout</a>
        </div>
      </div>

      <% } else { %>
      <a id="login-link" href="/login">Log In</a>
      <% } %>
    </nav>

    <div class="main">
      <form method="post" action="/edit/<%= user[0].user_id %>">
        <h3>Edit Account Info for <%= user[0].username %></h3>
        <label>Username</label>
        <input
          STYLE="text-transform:lowercase"
          type="text"
          name="username"
          maxlength="29"
          value="<%= user[0].username %>"
          required
        /><br /><br />
        <label>Email</label>
        <input
          STYLE="text-transform:lowercase"
          type="text"
          name="email"
          maxlength="199"
          value="<%= user[0].email %>"
          required
        /><br /><br />
        <label>Password</label>
        <input
          type="password"
          name="password"
          maxlength="3"
          value="<%= user[0].password %>"
        /><br /><br />
        <!-- <% if (admin.isadmin) { %> -->
        <label>Is Admin?</label>
        <td>
          <input type="checkbox" id="isadmin" name="isadmin" <%=
          user[0].is_admin ? 'checked' : '' %> <%= admin.isadmin ? '' :
          'disabled'%>>
        </td>
        <br /><br />
        <!-- <% } %> -->
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
